footer {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-secon);
  bottom: 0;
  z-index: 1000;
  font-weight: 500;
  padding: 30px 5%;
  background-color: var(--sec-bg-color);
  width: 100%;
  gap: 20px;
}

hr {
  display: none;
}

/* Footer Contact*/
.footercontatos ul {
  padding: 10px 0px 0px 0px;
}

/* Footer Rede*/
.footerrede p {
  width: 250px;
  padding: 10px 0px;
}

/* Footer Map*/
.footermapa {
  width: 500px;
}

.footermapa ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.footermapa a {
  text-decoration: none;
  color: var(--text-color-secon);
  font-size: 1.1rem;
  font-weight: 500;
}

.footermapa i,
iconify-icon {
  color: var(--text-color-secon);
  font-size: 1.56rem;
}

.map {
  width: 100%;
  height: 300px;
}

/* MenuBar Para SmartPhones */
@media (max-width: 1090px) {
  /* Footer */
  footer {
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  hr {
    display: block;
    text-align: center;
    height: 0px;
  }

  .pfooter {
    display: grid;
    justify-content: center;
    padding: 5px;
  }

  .footerrede ul {
    justify-content: space-evenly;
    display: flex;
  }

  .map {
    width: 100%;
    height: 300px;
  }

  .footercontatos ul {
    display: grid;
    justify-content: center;
    text-align: justify;
  }
}

@media (max-width: 580px) {
  .footermapa {
    width: 100%;
  }

  .map {
    width: 100%;
  }
}
